@font-face {
  font-family: SiYuanMedium;
  src: url(./assets/font/MiSans-Medium.ttf);
}

@font-face {
  font-family: SiYuanRegular;
  src: url(./assets/font/MiSans-Normal.ttf);
}

#app {
  /* max-width: 1280px; */
}

* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: SiYuanRegular;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */